your_account=something-something
your_username=user
your_password=password
stage_name=my_stage
warehouse=my_warehouse
warehouseSize=x-small
database=my_db
role=my_role
schema=my_schema
sf-dbt-data=dbt-practice-project/sf/sf-dbt-data/